@font-face {
    font-family: Th Sarabun New;
    src:url("https://github.com/jarukitnason/stylesheet1/blob/5c08d0c5ad3e2310376135c4edf5b74ff03fa70f/THSarabunNew.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
